.radio-field {
  width: 25%;
  padding-left: 10px;
}

.smallradiofield {
  width: 5% !important;
  padding-left: 10px;
  top: -6px;
}

.metadropdown {
  margin-bottom: 12px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

input[type="checkbox"]+span {
  /* display: inline-block; */
  position: relative;
  top: -6px;
  width: 30px;
  height: 12px;
  margin: -1px 0px 0 -248px;
  vertical-align: middle;
  /* background: white left top no-repeat; */
  /* border: 1px solid #ccc; */
  cursor: pointer;
}

input[type="checkbox"]:checked+span {
  /* background: #D9534F -19px top no-repeat; */
  margin-left: -248px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
